* {
  padding: 0;
  margin: 0;
  font-family: 'Montserrat', sans-serif;
}

body {
  background-color: brown;
  z-index: -50;
}

.nav-bar {
  display: block;
  width: 100%;
  height: 10vh;
  background-color: limegreen;
}

.nav-bar .nav-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 10vh;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-bottom: tomato solid 5px;
}

.nav-bar .nav-container p {
  width: 300px;
}

.nav-bar .nav-container .nav-collapse {
  width: 100%;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.nav-bar .nav-container .nav-collapse a {
  text-transform: uppercase;
  font-size: 40px;
  width: 275px;
  -webkit-transition: .5s;
  transition: .5s;
  text-decoration: none;
  color: inherit;
}

.nav-bar .nav-container .nav-collapse a #del {
  margin-left: 50px;
}

.nav-bar .nav-container .nav-collapse a #add {
  margin-left: 300px;
}

.nav-bar .nav-container .nav-collapse a:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  cursor: pointer;
  color: tomato;
}

.nav-bar .nav-container i {
  color: #f59c16;
  font-size: 40px;
  margin-left: 50px;
}

.search {
  width: 100%;
  height: 15vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.search .search-button {
  width: 400px;
  height: 60px;
  font-size: 50px;
  background-color: brown;
  border: none;
}

.search input:focus {
  outline: none;
}

.search .search-underline {
  height: 2px;
  width: 600px;
  background-color: black;
}

.categories {
  width: 100%;
  height: 10vh;
}

.categories .categories-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  height: 10vh;
  border-bottom: solid 2px black;
}

.categories .categories-button {
  font-size: 50px;
  background-color: brown;
  border: none;
  cursor: pointer;
  -webkit-transition: .5s;
  transition: .5s;
  height: 8vh;
}

.categories .categories-button:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.add-item {
  width: 100%;
  height: 35vh;
  background-color: royalblue;
}

.add-item .add-item-list {
  background-color: gray;
  height: 35vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.add-item .add-item-list p {
  position: relative;
  top: 10px;
  right: 100px;
}

.add-item .add-item-list .add-item-option {
  width: 300px;
  height: 25px;
}
/*# sourceMappingURL=style.css.map */